# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
android/key.properties
.flutter-plugins-dependencies
.flutter-plugins-dependencies
.flutter-plugins-dependencies
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id
ios/Flutter/flutter_export_environment.sh
ios/Flutter/flutter_export_environment.sh
ios/Flutter/flutter_export_environment.sh
android/key.properties
*.csr
*.crt
*.pfx
*.key
windows/runner/win32_window.h
windows/runner/win32_window.cpp
windows/runner/utils.h
windows/runner/utils.cpp
windows/runner/Runner.rc
windows/runner/runner.exe.manifest
windows/runner/run_loop.h
windows/runner/run_loop.cpp
windows/runner/resources/app_icon.ico
windows/runner/resource.h
windows/runner/main.cpp
windows/runner/flutter_window.h
windows/runner/flutter_window.cpp
windows/runner/CMakeLists.txt
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugin_registrant.cc
windows/flutter/CMakeLists.txt
windows/CMakeLists.txt
web/manifest.json
web/index.html
web/icons/Icon-512.png
web/icons/Icon-192.png
web/favicon.png
README.md
pubspec.yaml
pubspec.lock
macos/Runner/Release.entitlements
macos/Runner/MainFlutterWindow.swift
macos/Runner/Info.plist
macos/Runner/DebugProfile.entitlements
macos/Runner/Configs/Warnings.xcconfig
macos/Runner/Configs/Release.xcconfig
macos/Runner/Configs/Debug.xcconfig
macos/Runner/Configs/AppInfo.xcconfig
macos/Runner/Base.lproj/MainMenu.xib
macos/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
macos/Runner/Assets.xcassets/AppIcon.appiconset/64.png
macos/Runner/Assets.xcassets/AppIcon.appiconset/512.png
macos/Runner/Assets.xcassets/AppIcon.appiconset/512-1.png
macos/Runner/Assets.xcassets/AppIcon.appiconset/32.png
macos/Runner/Assets.xcassets/AppIcon.appiconset/32-1.png
macos/Runner/Assets.xcassets/AppIcon.appiconset/256.png
macos/Runner/Assets.xcassets/AppIcon.appiconset/256-1.png
macos/Runner/Assets.xcassets/AppIcon.appiconset/16.png
macos/Runner/Assets.xcassets/AppIcon.appiconset/128.png
macos/Runner/AppDelegate.swift
macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
macos/Runner.xcworkspace/contents.xcworkspacedata
macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
macos/Runner.xcodeproj/project.pbxproj
macos/Podfile.lock
macos/Podfile
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/Flutter-Debug.xcconfig
linux/my_application.h
linux/my_application.cc
linux/main.cc
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugin_registrant.cc
linux/flutter/CMakeLists.txt
linux/CMakeLists.txt
lib/text/vn_text.dart
lib/screens/chapter1/chapter1.dart
lib/routes/splash_screen.dart
lib/routes/routes.dart
lib/routes/route_observer.dart
lib/routes/homepage.dart
lib/main.dart
lib/global/will_pop.dart
lib/global/theme.dart
lib/global/textsound.dart
lib/global/settings_widget.dart
lib/global/setting_values.dart
lib/global/setings.dart
lib/global/more.dart
lib/global/globals.dart
lib/generated_plugin_registrant.dart
lib/constructor/vn_constructor.dart
ios/Runner/Runner.entitlements
ios/Runner/Runner-Bridging-Header.h
ios/Runner/Info.plist
ios/Runner/Base.lproj/Main.storyboard
ios/Runner/Base.lproj/LaunchScreen.storyboard
ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
ios/Runner/AppDelegate.swift
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcworkspace/contents.xcworkspacedata
ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ios/Runner.xcodeproj/project.pbxproj
ios/Podfile.lock
ios/Podfile
ios/Flutter/Release.xcconfig
ios/Flutter/Debug.xcconfig
ios/Flutter/AppFrameworkInfo.plist
assets/languages/en.json
assets/languages/de.json
assets/images/sprites/transparent.png
assets/images/sprites/tom_neutral.png
assets/images/sprites/naoki_neutral.png
assets/images/sprites/MC_Blush.png
assets/images/sprites/hidetake_neutral.png
assets/images/main.jpg
assets/images/img1.jpg
assets/images/gui/textbox_scroll_04.png
assets/images/gui/textbox_scroll_03.png
assets/images/gui/soundhover.png
assets/images/gui/savehover.png
assets/images/gui/playhover.png
assets/images/gui/play.png
assets/images/gui/pausehover.png
assets/images/gui/paintbrush_scroll_02.png
assets/images/gui/morehover.png
assets/images/gui/more.png
assets/images/gui/menu_scroll_06.png
assets/images/gui/menu_scroll_05.png
assets/images/gui/menu_scroll_04.png
assets/images/gui/menu_scroll_03.png
assets/images/gui/menu_scroll_02.png
assets/images/gui/menu_scroll_01.png
assets/images/gui/loadhover.png
assets/images/gui/icon_hover_scroll_09.png
assets/images/gui/icon_hover_scroll_08.png
assets/images/gui/icon_hover_scroll_07.png
assets/images/gui/icon_hover_scroll_06.png
assets/images/gui/icon_hover_scroll_04.png
assets/images/gui/fullhover.png
assets/images/gui/full.png
assets/images/gui/fastforwardhover.png
assets/images/gui/button_scroll_02.png
assets/images/gui/button_scroll_01.png
assets/images/gui/backhover.png
assets/images/gui/back.png
assets/fonts/NanumBrushScript-Regular.ttf
assets/fonts/Aleo-Regular.ttf
assets/audio/warmth-of-the-sun-adi-goldstein.mp3
android/settings.gradle
android/gradle/wrapper/gradle-wrapper.properties
android/gradle.properties
android/build.gradle
android/app/src/profile/AndroidManifest.xml
android/app/src/main/res/values/styles.xml
android/app/src/main/res/values-night/styles.xml
android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/launcher_icon.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-hdpi/launcher_icon.png
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/drawable/launch_background.xml
android/app/src/main/res/drawable-v21/launch_background.xml
android/app/src/main/kotlin/de/smalldreams/game/fablesofdesire/MainActivity.kt
android/app/src/main/AndroidManifest.xml
android/app/src/debug/AndroidManifest.xml
android/app/build.gradle
.metadata
.github/workflows/ci.yml
.gitattributes
